[Misc]
Name=Application Octetstream
Name[ca]=Aplicació Octetstream
Name[ca@valencia]=Aplicació Octetstream
Name[es]=Aplicación Octetstream
Name[nl]=Applicatie octetstroom
Name[pl]=Dane binarne
Name[pt]=Aplicação Sequência Binária
Name[pt_BR]=Aplicativo Octetstream
Name[sk]=Application Octetstream
Name[sr]=Октетни ток програма
Name[sr@ijekavian]=Октетни ток програма
Name[sr@ijekavianlatin]=Oktetni tok programa
Name[sr@latin]=Oktetni tok programa
Name[sv]=Program Oktetström
Name[uk]=Потік вісімкових даних
Name[x-test]=xxApplication Octetstreamxx
Comment=A bodypart formatter plugin for text/vcard
Comment[ca]=Un connector formatador del cos per a text/vcard
Comment[ca@valencia]=Un connector formatador del cos per a text/vcard
Comment[es]=Un complemento de formato para el cuerpo de text/vcard
Comment[nl]=Een opmaakplug-in voor text/vcard
Comment[pl]=Wtyczka formatująca dla typu text/vcard
Comment[pt]=Um 'plugin' de formatação do conteúdo para o tipo 'text/vcard'
Comment[pt_BR]=Um plugin formatador de componente para o tipo text/vcard
Comment[sk]=Modul pre formátovanie tela pre text/vcard
Comment[sr]=Прикључак форматирања дела тела за text/vcard
Comment[sr@ijekavian]=Прикључак форматирања дела тела за text/vcard
Comment[sr@ijekavianlatin]=Priključak formatiranja dela tela za text/vcard
Comment[sr@latin]=Priključak formatiranja dela tela za text/vcard
Comment[sv]=Ett insticksprogram för formatering av innehåll i visitkort
Comment[uk]=Додаток форматування для text/vcard
Comment[x-test]=xxA bodypart formatter plugin for text/vcardxx

[Plugin]
Type=text/directory
X-KDE-Library=messageviewer_bodypartformatter_text_vcard
