[Misc]
Name=Application Octetstream
Comment=A bodypart formatter plugin for text/vcard

[Plugin]
Type=text/directory
X-KDE-Library=messageviewer_bodypartformatter_text_vcard
