[Desktop Entry]
Author=KMail 5.1 Default Theme
AuthorEmail=montel@kde.org
Description=KMail Default Theme 5.1
FileName=header.html
Name=KMail 5.1
ThemeVersion=1
