[Misc]
Name=Application Octetstream
Name[ca]=Aplicació Octetstream
Name[ca@valencia]=Aplicació Octetstream
Name[de]=Application Octetstream
Name[en_GB]=Application Octetstream
Name[es]=Aplicación Octetstream
Name[fi]=Octetstream-sovellus
Name[gl]=Aplicación Octetstream
Name[it]=Application Octetstream
Name[nb]=Oktettstrøm fra program
Name[nl]=Applicatie octetstroom
Name[nn]=Oktettstraum frå program
Name[pl]=Dane binarne
Name[pt]=Aplicação Sequência Binária
Name[pt_BR]=Aplicativo Octetstream
Name[ru]=Поток двоичных данных
Name[sk]=Application Octetstream
Name[sl]=Programski Octetstream
Name[sr]=Октетни ток програма
Name[sr@ijekavian]=Октетни ток програма
Name[sr@ijekavianlatin]=Oktetni tok programa
Name[sr@latin]=Oktetni tok programa
Name[sv]=Program Oktetström
Name[uk]=Потік вісімкових даних
Name[x-test]=xxApplication Octetstreamxx
Comment=A bodypart formatter plugin for text/calendar

[Plugin]
Type=text/calendar
X-KDE-Library=messageviewer_bodypartformatter_text_calendar
