[Desktop Entry]
Author=KMail 5.2 Default Theme
AuthorEmail=montel@kde.org
Description=KMail Default Theme 5.2 (Based on Breeze Flat author Kristofer Rickheden Gustavsson)
FileName=header.html
Name=KMail 5.2
ThemeVersion=1
