[Desktop Entry]
Author=KMail 5.2 Default Theme
AuthorEmail=montel@kde.org
Description=KMail Default Theme 5.2 (Based on Breeze Flat author Kristofer Rickheden Gustavsson)
Description[ca]=Tema per omissió pel KMail 5.2 (basat en la Brisa Flat de l'autor Kristofer Rickheden Gustavsson)
Description[ca@valencia]=Tema per omissió pel KMail 5.2 (basat en la Brisa Flat de l'autor Kristofer Rickheden Gustavsson)
Description[de]=KMail-Standarddesign 5.2 (Basiert auf „Breeze Flach“, Autor: Kristofer Rickheden Gustavsson)
Description[en_GB]=KMail Default Theme 5.2 (Based on Breeze Flat author Kristofer Rickheden Gustavsson)
Description[es]=KMail tema predeterminado 5.2 (basado en brisa plano,  autor Kristofer Rickheden Gustavsson)
Description[et]=KMaili vaiketeema 5.2 (aluseks on Breeze Flat, autor: Kristofer Rickheden Gustavsson)
Description[fi]=KMail 5.2 -oletusteema (perustuu Breeze Flat -teemaan, jonka teki Kristofer Rickheden Gustavsson)
Description[gl]=Tema predeterminado de KMail 5.2 (baseado en Breeze Flat, creado por Kristofer Rickheden Gustavsson)
Description[it]=Tema predefinito di KMail 5.2 (basato su Brezza piatto, autore Kristofer Rickheden Gustavsson)
Description[nl]=KMail standaard thema 5.2 (gebaseerd op de auteur van Breeze Flat Kristofer Rickheden Gustavsson)
Description[pl]=Domyślny wystrój KMaila 5.2 (Oparty na Płaskiej Bryzie autorstwa Kristofer Rickheden Gustavsson)
Description[pt]=Tema Predefinido 5.2 do KMail (Baseado no autor do Brisa Plano Kristofer Rickheden Gustavsson)
Description[pt_BR]=Tema padrão do KMail 5.2 (Baseado no autor do Breeze Flat, Kristofer Rickheden Gustavsson)
Description[sk]=Predvolená téma KMail 5.2 (založená na Breeze Flat, autor Kristofer Rickheden Gustavsson)
Description[sl]=Privzeta tema za KMail 5.2 (Temelječa na ploski temi za Sapico, avtorja Kristoferja Rickhedena Gustavssona)
Description[sr]=К‑поштина подразумевана тема 5.2 (на основу Поветарца равног, аутор Кристофер Рикхеден Густавсон)
Description[sr@ijekavian]=К‑поштина подразумевана тема 5.2 (на основу Поветарца равног, аутор Кристофер Рикхеден Густавсон)
Description[sr@ijekavianlatin]=K‑poština podrazumevana tema 5.2 (na osnovu Povetarca ravnog, autor Kristofer Rikheden Gustavson)
Description[sr@latin]=K‑poština podrazumevana tema 5.2 (na osnovu Povetarca ravnog, autor Kristofer Rikheden Gustavson)
Description[sv]=Kmail  5.2 standardtema (baserat på Breeze flat med upphovsma Kristofer Rickheden Gustavsson)
Description[uk]=Типова тема KMail 5.2 (засновано на Breeze Flat, автором якої є Kristofer Rickheden Gustavsson)
Description[x-test]=xxKMail Default Theme 5.2 (Based on Breeze Flat author Kristofer Rickheden Gustavsson)xx
FileName=header.html
Name=KMail 5.2
Name[ast]=KMail 5.2
Name[ca]=KMail 5.2
Name[ca@valencia]=KMail 5.2
Name[cs]=KMail 5.2
Name[da]=KMail 5.2
Name[de]=KMail 5.2
Name[en_GB]=KMail 5.2
Name[es]=KMail 5.2
Name[et]=KMail 5.2
Name[fi]=KMail 5.2
Name[gl]=KMail 5.2
Name[it]=KMail 5.2
Name[nl]=KMail 5.2
Name[pl]=KMail 5.2
Name[pt]=KMail 5.2
Name[pt_BR]=KMail 5.2
Name[sk]=KMail 5.2
Name[sl]=KMail 5.2
Name[sr]=К‑пошта 5.2
Name[sr@ijekavian]=К‑пошта 5.2
Name[sr@ijekavianlatin]=K‑pošta 5.2
Name[sr@latin]=K‑pošta 5.2
Name[sv]=Kmail 5.2
Name[uk]=KMail 5.2
Name[x-test]=xxKMail 5.2xx
ThemeVersion=1
