[Desktop Entry]
X-KDE-Library=korg_datenums
Name=Date Numbers Plugin for Calendars
Name[ar]=ملحقة ترقيم الأيّام للتّقاويم
Name[az]=Təqvim üçün İlin günlərinin sayı əlavəsi
Name[ca]=Connector de números de data per als calendaris
Name[ca@valencia]=Connector de números de data per als calendaris
Name[cs]=Modul pro očíslování dat v kalendáři
Name[da]=Datonumre-plugin for kalendere
Name[de]=Kalendertag-Modul für Kalender
Name[en_GB]=Date Numbers Plugin for Calendars
Name[es]=Complemento de números de fechas para calendarios
Name[et]=Kuupäeva nummerdamise plugin kalendritele
Name[fi]=Kalenterien päivänumeroliitännäinen
Name[fr]=Module de numérotation des jours
Name[gl]=Complemento para os números dos días para os calendarios
Name[ia]=Plug-in pro numero del die de calendarios
Name[it]=Estensione data ordinale per i calendari
Name[ja]=日数表示プラグイン
Name[ko]=달력용 날짜 숫자 플러그인
Name[nb]=Datonummer programtillegg for Kalender
Name[nl]=Datumgetallenplug-in voor agenda's
Name[nn]=Kalender-programtillegg for datonummer
Name[pl]=Wtyczka numerów dni dla Kalendarzy
Name[pt]='Plugin' de Números de Datas para os Calendários
Name[pt_BR]=Plugin de números de datas para calendários
Name[ru]=День в году
Name[sk]=Modul dátumov pre kalendáre
Name[sl]=Datumski vstavek za koledarje
Name[sr]=Прикључак календара за бројеве датума
Name[sr@ijekavian]=Прикључак календара за бројеве датума
Name[sr@ijekavianlatin]=Priključak kalendara za brojeve datuma
Name[sr@latin]=Priključak kalendara za brojeve datuma
Name[sv]=Datuminsticksprogram för kalendrar
Name[tr]=Takvimler için Tarih Numaraları Eklentisi
Name[uk]=Додаток дат для календарів
Name[x-test]=xxDate Numbers Plugin for Calendarsxx
Name[zh_CN]=日历的日期数字插件
Name[zh_TW]=適用於行事曆的日期數字附加元件
Comment=For each day this plugin shows its daynumber of the year at the top of the agenda view. For example, February 1 is day 32 of the year.
Comment[ar]=تعرض هذه الملحقة لكلّ يوم رقمه من السّنة أعلى منظور جدول الأعمال. أي مثلًا الأوّل من فبراير هو اليوم ال‍ ٣٢ من السّنة.
Comment[az]=Bu əlavə hər tarix üçün ilin günlərinin sayını göstərir. Məsələn, 1 fevral, 32 sayı kimi göstəriləcək.
Comment[ca]=Per a cada dia, aquest connector mostrarà el número de dia de l'any al capdamunt de la vista d'agenda. Per exemple, l'1 de febrer serà el dia 32 de l'any.
Comment[ca@valencia]=Per a cada dia, aquest connector mostrarà el número de dia de l'any al capdamunt de la vista d'agenda. Per exemple, l'1 de febrer serà el dia 32 de l'any.
Comment[cs]=tento modul pro každý den zobrazuje pořadí dne v roce na vrcholu pohledu. Např. 1. únor je 32 druhý den v roce.
Comment[da]=For hver dag viser dette plugin nummeret for dagen i året for oven i agendavisningen. For eksempel er 1. februar 1 is den 32. dag i året.
Comment[de]=Für jeden Tag des Jahres wird mit diesem Modul der Kalendertag oben in der Terminplanansicht angezeigt. Der 1. Februar ist beispielsweise der 32. Kalendertag des Jahres.
Comment[en_GB]=For each day this plugin shows its daynumber of the year at the top of the agenda view. For example, February 1 is day 32 of the year.
Comment[es]=Para cada día este complemento muestra el número de días pasados desde principios de año en la parte superior de la vista de agenda. Por ejemplo, el día 1 de febrero es el día 32 del año.
Comment[et]=See plugin näitab iga päevakavavaate ülaosas iga päeva järjekorranumbrit aastas. Näiteks 1. veebruar on aasta 32. päev.
Comment[fi]=Tämä liitännäinen näyttää päivyrinäkymässä kunkin päivän järjestysnumeron vuoden alusta laskien; esimerkiksi 1. helmikuuta on vuoden 32. päivä.
Comment[fr]=Pour chaque jour, ce module montre le numéro du jour en haut de la vue agenda. Par exemple, le 1er février est le 32ème jour de l'année.
Comment[gl]=Este complemento mostra o día do ano na vista superior da axenda. Por exemplo, o 1 de febreiro é o día 32 do ano.
Comment[ia]=Pro cata die, iste plug-in monstra le numero del die in le anno al summitate del vista de agenda. Per exemplo, le 1 de februario es die 32 del anno.
Comment[it]=Per ciascun giorno, questa estensione mostra il valore del giorno per la data ordinale (numero progressivo a partire dal primo gennaio dell'anno corrente). Per esempio al primo di febbraio corrisponde il numero 32.
Comment[ja]=このプラグインは予定表ビューの上に、それぞれの日がその年の何日目であるかを表示します。例えば、2月1日はその年の32日目です。
Comment[ko]=일정 보기를 사용할 때 해당 연도의 날짜 번호를 모든 날짜 위에 표시합니다. 예를 들어 2월 1일은 그 해의 32번째 날입니다.
Comment[nb]=For hver dag viser dette programtillegget dagens nummer i året øverst på dagsvisningen. 1. februar er f.eks. dag nr. 32 i året.
Comment[nl]=Deze plug-in zorgt ervoor dat het dagnummer boven de agendaweergave wordt geplaatst. Bijvoorbeeld, bij 1 februari hoort dagnummer 32.
Comment[nn]=For kvar dag vil dette programtillegget visa nummeret til denne dagen i året øvst i tidsplanen. For eksempel vert 1. februar vist som dag 32.
Comment[pl]=Ta wtyczka dla każdego dnia pokazuje jego numer kolejny w roku, na szczycie widoku planu. Na przykład, 1 luty to 32 dzień roku.
Comment[pt]=Para cada dia, este 'plugin' mostra o número respectivo do ano no topo da agenda. Por exemplo, o 1 de Fevereiro é o dia 32 do ano.
Comment[pt_BR]=Para cada dia, esse plugin mostra o número do dia no topo da visualização da agenda. Por exemplo, 1º de fevereiro é o dia 32 do ano.
Comment[ru]=Этот модуль показывает номер дня в году для каждой даты. Например, для 1 февраля будет показан номер 32.
Comment[sk]=Tento modul pre každý deň zobrazí jeho číslo dňa v roku navrchu pohľadu agendy. Napríklad 1. február je deň číslo 32 v roku.
Comment[sl]=Za vsak dan ta vstavek prikazuje številko dneva v letu na vrhu prikaza dnevnega reda. Npr., 1. februar je 32. dan v letu.
Comment[sr]=Овај прикључак приказује број у години за сваки дан, при врху приказа распореда. На пример, 1. фебруар је 32. дан у години.
Comment[sr@ijekavian]=Овај прикључак приказује број у години за сваки дан, при врху приказа распореда. На примјер, 1. фебруар је 32. дан у години.
Comment[sr@ijekavianlatin]=Ovaj priključak prikazuje broj u godini za svaki dan, pri vrhu prikaza rasporeda. Na primjer, 1. februar je 32. dan u godini.
Comment[sr@latin]=Ovaj priključak prikazuje broj u godini za svaki dan, pri vrhu prikaza rasporeda. Na primer, 1. februar je 32. dan u godini.
Comment[sv]=Insticksprogrammet visar dagens nummer under året för varje dag längst upp i agendavyn. Till exempel är 1:a februari den 32:e dagen under året.
Comment[tr]=Bu eklenti, her gün için tarih bilgisini gün sayısı olarak ajanda görünümünün yukarısında gösterir. Örneğin, 1 Şubat yılın 32. günüdür.
Comment[uk]=Цей додаток показує зверху перегляду щоденника номер для кожного дня року. Наприклад, 1-го лютого — це 32 день року.
Comment[x-test]=xxFor each day this plugin shows its daynumber of the year at the top of the agenda view. For example, February 1 is day 32 of the year.xx
Comment[zh_CN]=此插件可对每天在议事日程视图中上方显示该日在一年中的序号。例如，2月1日是一年的第32天。
Comment[zh_TW]=在每一天，這個附加元件顯示這一天與今年第一天的差距。舉個例子，二月一日是今年的第 32 天。
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
