[Misc]
Name=PGP and GnuPG WKS formatter
Name[ca]=Formatador WKS PGP i GnuPG
Name[ca@valencia]=Formatador WKS PGP i GnuPG
Name[de]=Ein Formatierungsmodul für PGP und GnuPG WKS
Name[en_GB]=PGP and GnuPG WKS formatter
Name[es]=Formateador WKS para PGP y GnuPG
Name[et]=PGP ja BnuPG WKS-vormindaja
Name[fi]=PGP- ja GnuPG WKS -muotoilija
Name[fr]=Mise en forme PGP et GnuPG WKS
Name[it]=Formattatore PGP e GnuPG WKS
Name[ko]=PGP 및 GnuPG WKS 포매터
Name[nl]=PGP en GnuPG WKS formatteerprogramma
Name[pl]=Formatowanie PGP i GnuPG WKS
Name[pt]=Formatador de WKS do PGP e GnuPG
Name[sk]=Formátovač PGP a GnuPG WKS
Name[sl]=Oblikovalnik PGP in GnuPG WKS
Name[sr]=Форматирање ПГП‑а и гнуПГ ВКС‑а
Name[sr@ijekavian]=Форматирање ПГП‑а и гнуПГ ВКС‑а
Name[sr@ijekavianlatin]=Formatiranje PGP‑a i gnuPG WKS‑a
Name[sr@latin]=Formatiranje PGP‑a i gnuPG WKS‑a
Name[sv]=PGP- och GnuPG WKS-formatering
Name[tr]=PGP ve GnuPG WKS biçimlendirici
Name[uk]=Засіб форматування PGP та WKS GnuPG
Name[x-test]=xxPGP and GnuPG WKS formatterxx
Name[zh_CN]=PGP 和 GnuPG WKS 格式化程序
Comment=A bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messages
Comment[ca]=Un connector formatador del cos per a claus OpenPGP i missatges WKS GnuPG
Comment[ca@valencia]=Un connector formatador del cos per a claus OpenPGP i missatges WKS GnuPG
Comment[de]=Ein Formatierungsmodul für den Textinhalt von OpenPGP-Schlüsseln und GnuPG WKS E-Mails
Comment[en_GB]=A bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messages
Comment[es]=Un complemento para formatear el cuerpo para claves OpenPGP y mensajes WKS de GnuPG
Comment[et]=OpenPGP võtmete ja GnuPG WKS-sõnumite põhiosa vormindaja
Comment[fi]=Runko-osan muotoiluliitännäinen OpenPGP-avaimille ja GnuPG:n WKS-viesteille
Comment[fr]=Module de mise en forme du corps du message pour les clés OpenPGP et les messages GnuPG WKS
Comment[it]=Un'estensione per la formattazione del corpo del testo per chiavi OpenPGP e messaggi GnuPG WKS
Comment[nl]=Een opmaakplug-in voor een onderdeel van een e-mailbericht voor met OpenPGP en GnuPG WKS versleutelde berichten
Comment[pl]=Wtyczka formatująca treść dla wiadomości z kluczami OpenPGP oraz GnuPG WKS
Comment[pt]=Um 'plugin' de formatação do conteúdo para chaves de OpenPGP e mensagens WKS do GnuPG
Comment[sk]=Modul pre formátovanie tela pre OpenPGP kľúče a GnuPG WKS správy
Comment[sl]=Oblikovalni vstavek za ključe OpenPGP in sporočila GnuPG WKS
Comment[sr]=Прикључак форматирања дела тела за опенПГП кључеве и гнуПГ ВКС поруке
Comment[sr@ijekavian]=Прикључак форматирања дела тела за опенПГП кључеве и гнуПГ ВКС поруке
Comment[sr@ijekavianlatin]=Priključak formatiranja dela tela za OpenPGP ključeve i gnuPG WKS poruke
Comment[sr@latin]=Priključak formatiranja dela tela za OpenPGP ključeve i gnuPG WKS poruke
Comment[sv]=Ett insticksprogram för brevtextformatering av OpenPGP-nycklar och GnuPG WKS-meddelanden
Comment[tr]=OpenPGP Anahtarları ve GnuPG WKS iletileri için gövde biçimlendirme eklentisi
Comment[uk]=Додаток форматування вмісту для ключів OpenPGP та повідомлень WKS GnuPG
Comment[x-test]=xxA bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messagesxx
Comment[zh_CN]=OpenPGP 密钥 and GnuPG WKS 信件的正文格式化插件

[Plugin]
Type=application/vnd.gnupg.wks
X-KDE-Library=messageviewer_bodypartformatter_application_gnupgwks

