[Misc]
Name=PGP and GnuPG WKS formatter
Name[ca]=Formatador WKS PGP i GnuPG
Name[ca@valencia]=Formatador WKS PGP i GnuPG
Name[en_GB]=PGP and GnuPG WKS formatter
Name[es]=Formateador WKS para PGP y GnuPG
Name[it]=Formattatore PGP e GnuPG WKS
Name[nl]=PGP en GnuPG WKS formatteerprogramma
Name[pt]=Formatador de WKS do PGP e GnuPG
Name[sk]=Formátovač PGP a GnuPG WKS
Name[sl]=Oblikovalnik PGP in GnuPG WKS
Name[sv]=PGP- och GnuPG WKS-formatering
Name[uk]=Засіб форматування PGP та WKS GnuPG
Name[x-test]=xxPGP and GnuPG WKS formatterxx
Comment=A bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messages
Comment[ca]=Un connector formatador del cos per a claus OpenPGP i missatges WKS GnuPG
Comment[ca@valencia]=Un connector formatador del cos per a claus OpenPGP i missatges WKS GnuPG
Comment[en_GB]=A bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messages
Comment[es]=Un complemento para formatear el cuerpo para claves OpenPGP y mensajes WKS de GnuPG
Comment[it]=Un'estensione per la formattazione del corpo del testo per chiavi OpenPGP e messaggi GnuPG WKS
Comment[nl]=Een opmaakplug-in voor een onderdeel van een e-mailbericht voor met OpenPGP en GnuPG WKS versleutelde berichten
Comment[pt]=Um 'plugin' de formatação do conteúdo para chaves de OpenPGP e mensagens WKS do GnuPG
Comment[sk]=Modul pre formátovanie tela pre OpenPGP kľúče a GnuPG WKS správy
Comment[sl]=Oblikovalni vstavek za ključe OpenPGP in sporočila GnuPG WKS
Comment[sv]=Ett insticksprogram för brevtextformatering av OpenPGP-nycklar och GnuPG WKS-meddelanden
Comment[uk]=Додаток форматування вмісту для ключів OpenPGP та повідомлень WKS GnuPG
Comment[x-test]=xxA bodypart formatter plugin for OpenPGP Keys and GnuPG WKS messagesxx

[Plugin]
Type=application/vnd.gnupg.wks
X-KDE-Library=messageviewer_bodypartformatter_application_gnupgwks

