[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar Plugin
Comment=Shows all dates in KOrganizer also in the Jewish calendar system.
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
