[Desktop Entry]
X-KDE-Library=korg_hebrew
Name=Jewish Calendar Plugin
Name[ca]=Connector de calendari jueu
Name[ca@valencia]=Connector de calendari jueu
Name[en_GB]=Jewish Calendar Plugin
Name[es]=Complemento de calendario judío
Name[fi]=Juutalaisen kalenterin laajennus
Name[fr]=Module de prise en charge du calendrier juif
Name[gl]=Engadido para o calendario xudeu
Name[it]=Estensione calendario ebraico
Name[nb]=Programtillegg for jødisk kalender
Name[nl]=Joodse kalenderplug-in
Name[nn]=Kalender-programtillegg for jødisk kalender
Name[pl]=Wtyczka kalendarza żydowskiego
Name[pt]='Plugin' do Calendário Judaico
Name[pt_BR]=Plugin de calendário judaico
Name[sk]=Modul Židovského kalendára
Name[sv]=Insticksprogram för judisk kalender
Name[uk]=Додаток єврейського календаря
Name[x-test]=xxJewish Calendar Pluginxx
Name[zh_CN]=犹太教日历插件
Comment=Shows all dates in KOrganizer also in the Jewish calendar system.
Comment[ca]=Mostra totes les dates en el KOrganizer també en el sistema del calendari jueu.
Comment[ca@valencia]=Mostra totes les dates en el KOrganizer també en el sistema del calendari jueu.
Comment[de]=Zeigt alle Daten in KOrganizer auch im jüdischen Kalendarium an.
Comment[en_GB]=Shows all dates in KOrganizer also in the Jewish calendar system.
Comment[es]=Muestra en KOrganizer todas las fechas también siguiendo el calendario judío.
Comment[fi]=Näyttää kaikki päivät KOrganizerissa myös juutalaisen kalenterin mukaan.
Comment[fr]=Affiche toutes les dates de KOrganizer selon le calendrier Juif.
Comment[gl]=Mostra todas as datas en KOrganizer tamén no sistema de calendario xudeu.
Comment[it]=Mostra tutte le date in KOrganizer anche secondo il calendario ebraico.
Comment[nb]=Viser alle datoer i KOrganizer også i det jødiske kalendersystemet.
Comment[nl]=Toont alle data in KOrganizer ook in het Joodse kalendersysteem.
Comment[nn]=Viser alle datoane i KOrganizer i den jødiske kalenderen.
Comment[pl]=Pokazuje wszystkie daty w KOrganizerze również w kalendarzu żydowskim.
Comment[pt]=Mostra todas as datas no KOrganizer também no sistema de calendário Judaico.
Comment[pt_BR]=Mostra todas as datas no KOrganizer também no sistema de calendário judaico.
Comment[sk]=Zobrazí všetky dátumy v KOorganizer tiež aj v židovskom kalendári.
Comment[sv]=Visar också alla datum i Korganizer enligt den judiska kalendern.
Comment[uk]=Показує всі дати в korganizer також і в системі єврейського календаря.
Comment[x-test]=xxShows all dates in KOrganizer also in the Jewish calendar system.xx
Comment[zh_CN]=在 KOrganizer 中显示犹太教日历系统的全部日期。
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=true
X-KDE-PluginInterfaceVersion=2
