[Desktop Entry]
Name=CoisceimPart
Name[ast]=CoisceimPart
Name[ca]=Part del Coisceim
Name[ca@valencia]=Part del Coisceim
Name[da]=CoisceimPart
Name[de]=CoisceimPart
Name[en_GB]=CoisceimPart
Name[es]=CoisceimPart
Name[et]=CoisceimPart
Name[fi]=Coisceim-osa
Name[fr]=CoisceimPart
Name[gl]=CoisceimPart
Name[ia]=CoisceimPart
Name[it]=CoisceimPart
Name[ja]=CoisceimPart
Name[ko]=CoisceimPart
Name[nb]=CoisceimPart
Name[nl]=CoisceimPart
Name[pl]=Moduł Coisceim
Name[pt]=CoisceimPart
Name[pt_BR]=CoisceimPart
Name[ru]=CoisceimPart
Name[sk]=CoisceimPart
Name[sl]=CoisceimPart
Name[sr]=Кушкејм део
Name[sr@ijekavian]=Кушкејм дио
Name[sr@ijekavianlatin]=Coiscéim dio
Name[sr@latin]=Coiscéim deo
Name[sv]=Coisceim-delprogram
Name[tr]=CoisceimPart
Name[uk]=CoisceimPart
Name[x-test]=xxCoisceimPartxx
Name[zh_CN]=CoisceimPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=coisceimpart
Type=Service
Icon=byobu
