[Desktop Entry]
Name=CoisceimPart
Name[ca]=Part del Coisceim
Name[ca@valencia]=Part del Coisceim
Name[es]=CoisceimPart
Name[gl]=CoisceimPart
Name[nl]=CoisceimPart
Name[pl]=Moduł Coisceim
Name[pt]=CoisceimPart
Name[pt_BR]=CoisceimPart
Name[sk]=CoisceimPart
Name[sv]=Coisceim-delprogram
Name[uk]=CoisceimPart
Name[x-test]=xxCoisceimPartxx
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=coisceimpart
Type=Service
Icon=byobu
