[Desktop Entry]
Type=Service
ServiceTypes=KMail/MainViewPlugin
X-KDE-Library=kmail_antivirusplugin
Name=Antivirus
Name[ca]=Contra els virus
Name[ca@valencia]=Contra els virus
Name[gl]=Antivirus
Name[nl]=Antivirus
Name[pt]=Anti-Vírus
Name[pt_BR]=Antivírus
Name[uk]=Антивірус
Name[x-test]=xxAntivirusxx
