[Desktop Entry]
Type=Service
ServiceTypes=KMail/MainViewPlugin
X-KDE-Library=kmail_antispanplugin
Name=Antispam
Name[ca]=Contra el correu brossa
Name[ca@valencia]=Contra el correu brossa
Name[gl]=Anti correo lixo
Name[nl]=Antispam
Name[pt]=Anti-Lixo
Name[pt_BR]=Antispam
Name[uk]=Антиспам
Name[x-test]=xxAntispamxx
