[Misc]
Name=TNEF
Name[ca]=TNEF
Name[ca@valencia]=TNEF
Name[es]=TNEF
Name[nl]=TNEF
Name[pl]=TNEF
Name[pt]=TNEF
Name[pt_BR]=TNEF
Name[sk]=TNEF
Name[sr]=ТНЕФ
Name[sr@ijekavian]=ТНЕФ
Name[sr@ijekavianlatin]=TNEF
Name[sr@latin]=TNEF
Name[sv]=TNEF
Name[uk]=TNEF
Name[x-test]=xxTNEFxx
Comment=A bodypart formatter plugin for TNEF attachments
Comment[ca]=Un connector formatador del cos per adjunts TNEF
Comment[ca@valencia]=Un connector formatador del cos per adjunts TNEF
Comment[es]=Un complemento de formato para el cuerpo de adjuntos TNEF
Comment[nl]=Een opmaakplug-in voor TNEF-bijlagen
Comment[pl]=Wtyczka formatująca treść dla załączników TNEF
Comment[pt]=Um 'plugin' de formatação do conteúdo para os anexos TNEF
Comment[pt_BR]=Um plugin formatador de componente para anexos TNEF
Comment[sk]=Modul pre formátovanie tela preTNEF prílohy
Comment[sr]=Прикључак форматирања дела тела за ТНЕФ прилоге
Comment[sr@ijekavian]=Прикључак форматирања дела тела за ТНЕФ прилоге
Comment[sr@ijekavianlatin]=Priključak formatiranja dela tela za TNEF priloge
Comment[sr@latin]=Priključak formatiranja dela tela za TNEF priloge
Comment[sv]=Ett insticksprogram för formatering av innehåll i TNEF-bilagor
Comment[uk]=Додаток форматування текстової частини для долучень TNEF
Comment[x-test]=xxA bodypart formatter plugin for TNEF attachmentsxx

[Plugin]
Type=application/ms-tnef
X-KDE-Library=messageviewer_bodypartformatter_application_mstnef
