[Misc]
Name=TNEF
Name[ca]=TNEF
Name[ca@valencia]=TNEF
Name[cs]=TNEF
Name[da]=TNEF
Name[de]=TNEF
Name[en_GB]=TNEF
Name[es]=TNEF
Name[et]=TNEF
Name[fi]=TNEF
Name[fr]=TNEF
Name[gl]=TNEF
Name[ia]=TNEF
Name[it]=TNEF
Name[ko]=TNEF
Name[nb]=TNEF
Name[nl]=TNEF
Name[nn]=TNEF
Name[pl]=TNEF
Name[pt]=TNEF
Name[pt_BR]=TNEF
Name[ru]=TNEF
Name[sk]=TNEF
Name[sl]=TNEF
Name[sr]=ТНЕФ
Name[sr@ijekavian]=ТНЕФ
Name[sr@ijekavianlatin]=TNEF
Name[sr@latin]=TNEF
Name[sv]=TNEF
Name[uk]=TNEF
Name[x-test]=xxTNEFxx
Comment=A bodypart formatter plugin for TNEF attachments
Comment[ca]=Un connector formatador del cos per adjunts TNEF
Comment[ca@valencia]=Un connector formatador del cos per adjunts TNEF
Comment[da]=Et bodypart formaterings-plugin til TNEF-bilag
Comment[de]=Ein Textinhalt-Formatierungsmodul für TNEF-Anhänge (Outlook)
Comment[en_GB]=A bodypart formatter plugin for TNEF attachments
Comment[es]=Un complemento de formato para el cuerpo de adjuntos TNEF
Comment[et]=TNEF-manuste põhiosa vormindamisplugin
Comment[fi]=TNEF-liitteiden muotoiluliitännäinen
Comment[fr]=Module de mise en forme du corps du message pour les pièces jointes TNEF
Comment[gl]=Un engadido para formatar o corpo dos engadidos TNEF
Comment[ia]=Un plugin formattator de parte de corpore pro attachamentos TNEF 
Comment[it]=Un'estensione per la formattazione di allegati TNEF nei messaggi di posta
Comment[ko]=TNEF 첨부 꾸미기 플러그인
Comment[nb]=Et programtillegg for  brødtekst-formatering av TNEF-vedlegg
Comment[nl]=Een opmaakplug-in voor TNEF-bijlagen
Comment[pl]=Wtyczka formatująca treść dla załączników TNEF
Comment[pt]=Um 'plugin' de formatação do conteúdo para os anexos TNEF
Comment[pt_BR]=Um plugin formatador de componente para anexos TNEF
Comment[ru]=Форматирование вложений TNEF
Comment[sk]=Modul pre formátovanie tela preTNEF prílohy
Comment[sl]=Oblikovalni vstavek za priloge TNEF
Comment[sr]=Прикључак форматирања дела тела за ТНЕФ прилоге
Comment[sr@ijekavian]=Прикључак форматирања дела тела за ТНЕФ прилоге
Comment[sr@ijekavianlatin]=Priključak formatiranja dela tela za TNEF priloge
Comment[sr@latin]=Priključak formatiranja dela tela za TNEF priloge
Comment[sv]=Ett insticksprogram för formatering av innehåll i TNEF-bilagor
Comment[uk]=Додаток форматування текстової частини для долучень TNEF
Comment[x-test]=xxA bodypart formatter plugin for TNEF attachmentsxx

[Plugin]
Type=application/ms-tnef
X-KDE-Library=messageviewer_bodypartformatter_application_mstnef
