[Misc]
Name=Application Octetstream
Comment=A bodypart formatter plugin for text/x-patch
[Plugin]
Type=text/x-patch
X-KDE-Library=messageviewer_bodypartformatter_text_xdiff
