[Misc]
Name=Application Octetstream
Name[ca]=Aplicació Octetstream
Name[ca@valencia]=Aplicació Octetstream
Name[nl]=Applicatie octetstroom
Name[pl]=Dane binarne
Name[pt]=Aplicação Sequência Binária
Name[pt_BR]=Aplicativo Octetstream
Name[sk]=Application Octetstream
Name[sr]=Октетни ток програма
Name[sr@ijekavian]=Октетни ток програма
Name[sr@ijekavianlatin]=Oktetni tok programa
Name[sr@latin]=Oktetni tok programa
Name[sv]=Program Oktetström
Name[uk]=Потік вісімкових даних
Name[x-test]=xxApplication Octetstreamxx
Comment=A bodypart formatter plugin for text/x-patch
Comment[ca]=Un connector formatador del cos per a text/x-patch
Comment[ca@valencia]=Un connector formatador del cos per a text/x-patch
Comment[nl]=Een opmaakplug-in voor text/x-patch
Comment[pl]=Wtyczka formatująca dla text/x-patch
Comment[pt]=Um 'plugin' de formatação do conteúdo para o tipo 'text/x-patch'
Comment[pt_BR]=Um plugin formatador de componente para o tipo text/x-patch
Comment[sk]=Modul pre formátovanie tela pre text/x-patch
Comment[sr]=Прикључак форматирања дела тела за text/x-patch
Comment[sr@ijekavian]=Прикључак форматирања дела тела за text/x-patch
Comment[sr@ijekavianlatin]=Priključak formatiranja dela tela za text/x-patch
Comment[sr@latin]=Priključak formatiranja dela tela za text/x-patch
Comment[sv]=Ett insticksprogram för formatering av innehåll i programfixar
Comment[uk]=Додаток форматування текстової частини для text/x-patch
Comment[x-test]=xxA bodypart formatter plugin for text/x-patchxx
[Plugin]
Type=text/x-patch
X-KDE-Library=messageviewer_bodypartformatter_text_xdiff
