[Desktop Entry]
Name=akonadimailreader
Name[ar]=قارئ «أكونادي» للبريد
Name[ca]=akonadimailreader
Name[ca@valencia]=akonadimailreader
Name[cs]=akonadimailreader
Name[de]=akonadimailreader
Name[en_GB]=akonadimailreader
Name[es]=akonadimailreader
Name[et]=akonadimailreader
Name[fi]=akonadimailreader
Name[fr]=Lecteur de courriel Akonadi
Name[gl]=akonadimailreader
Name[it]=akonadimailreader
Name[ko]=akonadimailreader
Name[nl]=akonadi-e-maillezer
Name[pl]=akonadimailreader
Name[pt]=akonadimailreader
Name[pt_BR]=akonadimailreader
Name[ru]=akonadimailreader
Name[sk]=akonadimailreader
Name[sl]=akonadimailreader
Name[sr]=Аконадијев читач поште
Name[sr@ijekavian]=Аконадијев читач поште
Name[sr@ijekavianlatin]=Akonadijev čitač pošte
Name[sr@latin]=Akonadijev čitač pošte
Name[sv]=Akonadi e-postläsare
Name[tr]=akonadimailreader
Name[uk]=akonadimailreader
Name[x-test]=xxakonadimailreaderxx
Name[zh_CN]=akonadimailreader
Name[zh_TW]=akonadimailreader
Exec=akonadimailreader
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A simple Akonadi-based Mail Application
GenericName[ar]=تطبيق بريد بسيط مبنيّ على «أكونادي»
GenericName[ca]=Una senzilla aplicació de correu basada en Akonadi
GenericName[ca@valencia]=Una senzilla aplicació de correu basada en Akonadi
GenericName[de]=Ein einfaches E-Mail-Programm auf der Grundlage von Akonadi
GenericName[en_GB]=A simple Akonadi-based Mail Application
GenericName[es]=Una aplicación de correo sencilla basada en Akonadi
GenericName[et]=Lihtne Akonadi-põhine e-posti rakendus
GenericName[fi]=Yksinkertainen Akonadi-pohjainen sähköpostisovellus
GenericName[fr]=Une application de messagerie simple fondée sur Akonadi
GenericName[gl]=Un aplicativo de correo simple baseado en Akonadi.
GenericName[it]=Un semplice programma di posta elettronica basato su Akonadi
GenericName[ko]=Akonadi 기반 메일 프로그램
GenericName[nb]=Et enkelt Akonadi-basert e-postprogram
GenericName[nl]=Een eenvoudige op Akonadi gebaseerde e-mailtoepassing
GenericName[nn]=Ein enkel Akonadi-basert e-postklient
GenericName[pl]=Prosty program pocztowy oparty na Akonadi
GenericName[pt]=Uma aplicação simples de E-mail baseada no Akonadi
GenericName[pt_BR]=Um aplicativo de e-mail simples com base no Akonadi
GenericName[ru]=Простой почтовый клиент на основе Akonadi
GenericName[sk]=Jednoduchá poštová aplikácia založená na Akonadi
GenericName[sl]=Preprost program za e-pošto temelječ na Akonadiju
GenericName[sr]=Једноставан поштански програм на основу Аконадија
GenericName[sr@ijekavian]=Једноставан поштански програм на основу Аконадија
GenericName[sr@ijekavianlatin]=Jednostavan poštanski program na osnovu Akonadija
GenericName[sr@latin]=Jednostavan poštanski program na osnovu Akonadija
GenericName[sv]=Ett enkelt Akonadi-baserat e-postprogram
GenericName[tr]=Basit bir Akondai tabanlı Posta Uygulaması
GenericName[uk]=Проста програма для роботи з електронною поштою на основі Akonadi
GenericName[x-test]=xxA simple Akonadi-based Mail Applicationxx
GenericName[zh_CN]=基于 Akonadi 的简单邮件应用程序
GenericName[zh_TW]=簡單的基於 Akonadi 郵件程序
Terminal=false
X-DBUS-ServiceName=org.kde.akonadimailreader
