[Desktop Entry]
Name=mailreader
Name[ca]=mailreader
Name[ca@valencia]=mailreader
Name[de]=E-Mail-Programm
Name[en_GB]=mailreader
Name[es]=mailreader
Name[fi]=mailreader
Name[gl]=lector de correo
Name[nb]=e-postleser
Name[nl]=e-maillezer
Name[nn]=e-postlesar
Name[pl]=czytnikpoczty
Name[pt]=mailreader
Name[pt_BR]=mailreader
Name[sk]=mailreader
Name[sv]=e-postläsare
Name[uk]=mailreader
Name[x-test]=xxmailreaderxx
Name[zh_CN]=邮件阅读器
Exec=mailreader
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A simple Akonadi-based Mail Application
GenericName[ca]=Una senzilla aplicació de correu basada en Akonadi
GenericName[ca@valencia]=Una senzilla aplicació de correu basada en Akonadi
GenericName[de]=Ein einfaches E-Mail-Programm auf der Grundlage von Akonadi
GenericName[en_GB]=A simple Akonadi-based Mail Application
GenericName[es]=Una aplicación de correo sencilla basada en Akonadi
GenericName[fi]=Yksinkertainen Akonadi-pohjainen sähköpostisovellus
GenericName[gl]=Un programa de correo simple baseado en Akonadi.
GenericName[nb]=Et enkelt Akonadi-basert e-postprogram
GenericName[nl]=Een eenvoudige op Akonadi gebaseerde e-mailtoepassing
GenericName[nn]=Ein enkel Akonadi-basert e-postklient
GenericName[pl]=Prosty program pocztowy oparty na Akonadi
GenericName[pt]=Uma aplicação simples de E-mail baseada no Akonadi
GenericName[pt_BR]=Um aplicativo de e-mail simples com base no Akonadi
GenericName[sk]=Jednoduchá poštová aplikácia založená na Akonadi
GenericName[sv]=Ett enkelt Akonadi-baserat e-postprogram
GenericName[uk]=Проста програма для роботи з електронною поштою на основі Akonadi
GenericName[x-test]=xxA simple Akonadi-based Mail Applicationxx
GenericName[zh_CN]=简单的基于 Akonadi 的邮件应用程序
Terminal=false
X-DBUS-ServiceName=org.kde.mailreader
