[Desktop Entry]
Name=mailreader
Exec=mailreader
Icon=mailreader
Type=Application
X-DocPath=mailreader/index.html
GenericName=A simple Akonadi-based Mail Application
Terminal=false
X-DBUS-ServiceName=org.kde.mailreader
