[Desktop Entry]
X-KDE-Library=korg_lunarphases
Name=Lunar Phases Plugin for Calendars
Name[ar]=ملحقة أوجه القمر للتقاويم
Name[az]=Təqvimlər üçün Ay fazaları əlavəsi
Name[ca]=Connector de fases lunars per als calendaris
Name[ca@valencia]=Connector de fases lunars per als calendaris
Name[cs]=Modul pro lunární fáze v kalendáři
Name[da]=Månefase-plugin til kalendere
Name[de]=Mondphasen-Modul für Kalender
Name[en_GB]=Lunar Phases Plugin for Calendars
Name[es]=Complemento de fases de la luna para calendarios
Name[et]=Kuufaaside plugin kalendritele
Name[fi]=Kalenterien kuunvaiheliitännäinen
Name[fr]=Module de phases lunaires pour les agendas
Name[gl]=Complemento para as fases lunares para os calendarios
Name[ia]=Plug-in pro de phases lunar per calendarios
Name[it]=Estensione fasi lunari per i calendari
Name[ko]=달력용 달 위상 플러그인
Name[nl]=Plug-in voor maanfasen voor kalenders
Name[pl]=Wtyczka kalendarza z fazami księżyca
Name[pt]='Plugin' de Fases da Lua para os Calendários
Name[pt_BR]=Plugin das fases da lua para calendários
Name[ru]=Модуль фаз луны для календарей
Name[sk]=Doplnok mesačných fáz pre kalendáre
Name[sl]=Vstavek luninih men za koledarje
Name[sv]=Månfasinsticksprogram för kalendrar
Name[uk]=Додаток фаз місяця для календарів
Name[x-test]=xxLunar Phases Plugin for Calendarsxx
Name[zh_CN]=日历的月相插件
Name[zh_TW]=適用於行事曆的月相附加元件
Comment=This plugin shows the day's lunar phase (New, First, Last, Full)
Comment[ar]=تعرض هذه الملحقة وجه القمر اليوم (محاق، تربيع أول، تربيع ثاني، بدر)
Comment[az]=Bu əlavə ay fazalarının günlərini göstərir (Təzə ay, Hilal, Aypara, Bədirlənmiş)
Comment[ca]=Aquest connector mostra la fase lunar del dia (Nova, Creixent, Plena, Minvant)
Comment[ca@valencia]=Aquest connector mostra la fase lunar del dia (Nova, Creixent, Plena, Minvant)
Comment[da]=Dette plugin viser dagens månefase (ny-, første-, sidste-, fuld-)
Comment[de]=Dieses Modul zeigt die Mondphasen (Neumond, Erstes Viertel, Letztes Viertel, Vollmond)
Comment[en_GB]=This plugin shows the day's lunar phase (New, First, Last, Full)
Comment[es]=Este complemento muestra el día de la fase de la luna (nueva, creciente, menguante, llena)
Comment[et]=See plugin näitab kuufaase (noorkuu, esimene veerand, täiskuu, viimane veerand)
Comment[fi]=Tämä liitännäinen näyttää päivän kuun vaiheen (uusi, kasvava, vähenevä, täysi)
Comment[fr]=Ce module affiche la phase lunaire des jours (nouvelle lune, premier quartier, pleine lune, dernier quartier)
Comment[gl]=O complemento mostra a fase lunar do día (lúa nova, cuarto crecente, lúa chea, cuarto minguante).
Comment[ia]=Iste plugin monstra le die del phase lunar (Nove, Prime, Ultime, Plen)
Comment[it]=Questa estensione mostra la fase lunare del giorno (nuova, primo quarto, ultimo quarto, piena)
Comment[ko]=이 플러그인은 달의 위상을 표시합니다(상현달, 하현달, 보름달, 그믐달)
Comment[nl]=Deze plug-in toont de maanfase van de dag (Nieuwe, Eerste, Laatste, Volle)
Comment[pl]=Ta wtyczka pokazuje fazę księżyca (nowy, pierwszy, ostatni, pełny)
Comment[pt]=Este 'plugin' mostra a fase da Lua do dia (Nova, Minguante, Crescente, Cheia)
Comment[pt_BR]=Este plugin mostra a fase da Lua do dia (Nova, Minguante, Crescente, Cheia)
Comment[ru]=Этот модуль показывает соответствующую дню фазу луны (новолуние, первая четверть, последняя четверть, полнолуние)
Comment[sk]=Tento doplnok zobrazuje dennú mesačnú fázu (nov, prvá štvrť, posledná štvrť, spln)
Comment[sl]=Ta vstavek prikazuje lunine mene (Mlaj, Prvi krajec, Zadnji krajec, Ščip)
Comment[sv]=Insticksprogrammet visar dagens månfas (ny, första, sista, full)
Comment[uk]=Цей додаток показує фазу місяця (новий, перша чверть, остання чверть, повня)
Comment[x-test]=xxThis plugin shows the day's lunar phase (New, First, Last, Full)xx
Comment[zh_CN]=这个插件显示每日的月相（新月、弦月、盈凸月、满月）
Comment[zh_TW]=這個附加元件展示了這一天的月相（新月、上弦月、下弦月、滿月）
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
