[Desktop Entry]
X-KDE-Library=korg_lunarphases
Name=Lunar Phases Plugin for Calendars
Name[ca]=Connector de fases lunars pels calendaris
Name[ca@valencia]=Connector de fases lunars pels calendaris
Name[de]=Mondphasen-Modul für Kalender
Name[en_GB]=Lunar Phases Plugin for Calendars
Name[fr]=Module de phases lunaires pour les agendas
Name[it]=Estensione fasi lunari per i calendari
Name[nl]=Plug-in voor maanfasen voor kalenders
Name[pt]='Plugin' de Fases da Lua para os Calendários
Name[sv]=Månfasinsticksprogram för kalendrar
Name[uk]=Додаток фаз місяця для календарів
Name[x-test]=xxLunar Phases Plugin for Calendarsxx
Comment=This plugin shows the day's lunar phase (New, First, Last, Full)
Comment[ca]=Aquest connector mostra la fase lunar del dia (Nova, Creixent, Plena, Minvant)
Comment[ca@valencia]=Este connector mostra la fase lunar del dia (Nova, Creixent, Plena, Minvant)
Comment[en_GB]=This plugin shows the day's lunar phase (New, First, Last, Full)
Comment[fr]=Ce module affiche la phase lunaire des jours (nouvelle lune, premier quartier, pleine lune, dernier quartier)
Comment[it]=Questa estensione mostra la fase lunare del giorno (nuova, primo quarto, ultimo quarto, piena)
Comment[nl]=Deze plug-in toont de maanfase van de dag (Nieuwe, Eerste, Laatste, Volle)
Comment[pt]=Este 'plugin' mostra a fase da Lua do dia (Nova, Minguante, Crescente, Cheia)
Comment[sv]=Insticksprogrammet visar dagens månfas (ny, första, sista, full)
Comment[uk]=Цей додаток показує фазу місяця (новий, перша чверть, остання чверть, повня)
Comment[x-test]=xxThis plugin shows the day's lunar phase (New, First, Last, Full)xx
Type=Service
X-KDE-ServiceTypes=Calendar/Plugin,Calendar/Decoration
X-KDE-KOrganizer-HasSettings=false
X-KDE-PluginInterfaceVersion=2
