[Desktop Entry]
Name=Example
Name[ca]=Exemple
Name[ca@valencia]=Exemple
Name[es]=Ejemplo
Name[fi]=Esimerkki
Name[gl]=Exemplo
Name[nl]=Voorbeeld
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[sl]=Primer
Name[sv]=Exempel
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Description=Example theme for header.
Description[ca]=Tema d'exemple per a la capçalera.
Description[ca@valencia]=Tema d'exemple per a la capçalera.
Description[es]=Tema de ejemplo para encabezado.
Description[fi]=Esimerkkiotsaketeema.
Description[gl]=Tema de exemplo para a cabeceira.
Description[nl]=Voorbeeld van thema voor kop.
Description[pl]=Przykładowy wystrój nagłówka.
Description[pt]=Tema de exemplo de cabeçalhos.
Description[pt_BR]=Exemplo de tema para o cabeçalho.
Description[sl]=Primer teme za glavo.
Description[sv]=Exempeltema för huvud.
Description[uk]=Приклад теми для заголовка.
Description[x-test]=xxExample theme for header.xx
FileName=header.html
