<div>
     {% if header.subject %}
        {% with header.subjecti18n as title %}
        {% with header.subject|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}
     {% if header.from %}
        {% with header.fromi18n as title %}
        {% with header.from|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}
     {% if header.to.isSet %}
        {% with header.toi18n as title %}
        {% with header.to.fullAddress|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}
     {% if header.cc.isSet %}
        {% with header.cci18n as title %}
        {% with header.cc.fullAddress|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}
     {% if header.bcc.isSet %}
        {% with header.bcci18n as title %}
        {% with header.bcc.fullAddress|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}
     {% if header.date %}
        {% with header.datei18n as title %}
        {% with header.dateshort|safe as value %}
        {% include "header_row.html" %}
        {% endwith %}
        {% endwith %}
     {% endif %}

     {% if header.spamHTML %}
        {{ spamHTML|safe }}
     {% endif %}

</div>
