[Desktop Entry]
Name=Example
Name[ca]=Exemple
Name[ca@valencia]=Exemple
Name[de]=Beispiel
Name[en_GB]=Example
Name[es]=Ejemplo
Name[fi]=Esimerkki
Name[gl]=Exemplo
Name[nb]=Eksempel
Name[nl]=Voorbeeld
Name[pl]=Przykład
Name[pt]=Exemplo
Name[pt_BR]=Exemplo
Name[ru]=Пример
Name[sk]=Príklad
Name[sl]=Primer
Name[sr]=Пример
Name[sr@ijekavian]=Пример
Name[sr@ijekavianlatin]=Primer
Name[sr@latin]=Primer
Name[sv]=Exempel
Name[uk]=Приклад
Name[x-test]=xxExamplexx
Description=Example theme for header.
Description[ca]=Tema d'exemple per a la capçalera.
Description[ca@valencia]=Tema d'exemple per a la capçalera.
Description[de]=Beispieldesign für den Vorspann.
Description[en_GB]=Example theme for header.
Description[es]=Tema de ejemplo para encabezado.
Description[fi]=Esimerkkiotsaketeema.
Description[gl]=Tema de exemplo para a cabeceira.
Description[nb]=Eksempel tema for hodelinje.
Description[nl]=Voorbeeld van thema voor kop.
Description[pl]=Przykładowy wystrój nagłówka.
Description[pt]=Tema de exemplo de cabeçalhos.
Description[pt_BR]=Exemplo de tema para o cabeçalho.
Description[ru]=Пример оформления заголовка
Description[sk]=Ukážková téma pre hlavičku.
Description[sl]=Primer teme za glavo.
Description[sr]=Пример теме заглавља.
Description[sr@ijekavian]=Пример теме заглавља.
Description[sr@ijekavianlatin]=Primer teme zaglavlja.
Description[sr@latin]=Primer teme zaglavlja.
Description[sv]=Exempeltema för huvud.
Description[uk]=Приклад теми для заголовка.
Description[x-test]=xxExample theme for header.xx
FileName=header.html
